#root {
  color: hsl(324, 70%, 45%);
  animation: wheelHueColor 10s infinite;
  background-color: currentColor;
}
@supports (background-blend-mode: overlay) {
  #root {
    background-image: linear-gradient(45deg, white 10%, black 90%);
    background-blend-mode: overlay;
  }
}
@keyframes wheelHueColor {
  from, to { color: hsl(324, 70%, 45%); }
  10%      { color: hsl(360, 65%, 45%); }
  20%      { color: hsl( 36, 80%, 45%); }
  30%      { color: hsl( 72, 75%, 35%); }
  40%      { color: hsl(108, 65%, 35%); }
  50%      { color: hsl(144, 75%, 35%); }
  60%      { color: hsl(180, 75%, 35%); }
  70%      { color: hsl(216, 60%, 45%); }
  80%      { color: hsl(252, 65%, 50%); }
  90%      { color: hsl(288, 60%, 40%); }
}


/* misc */
* { margin: 0; padding: 0; }
#root{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.container {
    width: 250px;
    border: 2px ghostwhite solid;
    border-radius: 10px;
}
h1{
    color:ghostwhite;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    border-bottom: 2px ghostwhite solid;
    border-radius: 10px 10px 0 0;
    padding: 3%;
    background-color: rgb(175, 175, 175, 0.5);
}
h2{
  color:ghostwhite;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  border-top: 2px ghostwhite solid;
  border-radius: 0 0 10px 10px;
  padding: 3%;
  background-color: rgb(175, 175, 175, 0.5);
}
.time{
  font-family: 'Raleway Dots', cursive;
  
}
